<a href="https://colab.research.google.com/github/Cris2405/Economia/blob/main/Copia_de_Laboratorio_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [130]:
import pandas as pd

# Lee el archivo Excel y carga solamente las columnas especificadas
df = pd.read_excel('/content/Data_Bonos.xlsx', usecols=['CUPON', 'NOMBRE EMISOR', 'countrydomicile', 'INDUSTRIA', 'FECHA EMISION', 'YIELD', 'TIPO CUPON', 'PRINCIPAL'])

# Filtra por Yield > 4.0
df = df[df['YIELD'] > 4.0]

# Imprime el contenido del DataFrame resultante
print(df.head())

    CUPON    NOMBRE EMISOR countrydomicile  INDUSTRIA FECHA EMISION    YIELD  \
68   3.95      U S BANCORP             USA        2.0    2002-08-20  4.04481
69   4.00      TARGET CORP             USA        1.0    2003-06-04  4.04502
70   4.12   MORGAN STANLEY             USA        2.0    2004-11-04  4.07492
71   3.80    SARA LEE CORP             USA        1.0    2003-05-30  4.08100
72   4.00  KRAFT FOODS INC             USA        1.0    2003-09-22  4.09510

   TIPO CUPON  PRINCIPAL
68          F     1000.0
69          F     1000.0
70          F     1000.0
71          F     1000.0
72          F     1000.0

In [131]:
import pandas as pd

# Lee el archivo Excel y carga solamente las columnas especificadas
df = pd.read_excel('/content/Data_Bonos.xlsx', usecols=['CUPON', 'NOMBRE EMISOR', 'countrydomicile', 'INDUSTRIA', 'FECHA EMISION', 'YIELD', 'TIPO CUPON', 'PRINCIPAL'])

# Filtrar los datos según las condiciones especificadas
datos_filtrados = df[(df['INDUSTRIA'] == 'Tipo 1') & ((df['CUPON'] > 7) | (df['YIELD'] > 8))]
df

,CUPON,NOMBRE EMISOR,countrydomicile,INDUSTRIA,FECHA EMISION,YIELD,TIPO CUPON,PRINCIPAL
0,5.40,MEDTRONIC INC,USA,1.0,2005-12-06,NaN,F,1000.0
1,4.75,BERKSHIRE HATHAWAY INC DEL,USA,2.0,2005-08-30,NaN,F,1000.0
2,8.12,WILLIAMS COS INC,USA,3.0,2003-05-02,NaN,F,1000.0
3,8.75,WILLIAMS COS INC,USA,3.0,2003-05-02,NaN,F,1000.0
4,9.75,XEROX CORP,USA,1.0,2003-08-08,NaN,F,1000.0
...,...,...,...,...,...,...,...,...
380315,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
380316,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
380317,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
380318,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
380319,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN

In [132]:
import pandas as pd

# Creamos una lista con las compañías en el orden deseado
orden_compa = ["INTERNATIONAL BUSINESS MACHS CORP", "TIME WARNER COS INC", "WALMART STORES INC"]

# Filtramos los datos para incluir solamente las compañías en la lista orden_compañías
df_filtrado = df[df['NOMBRE EMISOR'].isin(orden_compa)]

# Ordenamos los datos según el orden de la lista orden_compañías
df_ordenado = df_filtrado.sort_values("NOMBRE EMISOR", key=lambda x: pd.Series(x).map(lambda y: orden_compa.index(y)))

df_ordenado

,CUPON,NOMBRE EMISOR,countrydomicile,INDUSTRIA,FECHA EMISION,YIELD,TIPO CUPON,PRINCIPAL
31,2.300,INTERNATIONAL BUSINESS MACHS CORP,USA,1.0,2003-07-23,2.43604,F,1000.0
400,7.000,INTERNATIONAL BUSINESS MACHS CORP,USA,1.0,1995-10-25,7.03700,F,1000.0
359,6.500,INTERNATIONAL BUSINESS MACHS CORP,USA,1.0,1998-01-06,6.55780,F,1000.0
348,6.450,INTERNATIONAL BUSINESS MACHS CORP,USA,1.0,1997-07-30,6.49200,F,1000.0
300,5.800,INTERNATIONAL BUSINESS MACHS CORP,USA,1.0,2002-11-20,6.04502,F,1000.0
436,7.500,INTERNATIONAL BUSINESS MACHS CORP,USA,1.0,1993-06-08,7.57000,F,1000.0
197,5.400,INTERNATIONAL BUSINESS MACHS CORP,USA,1.0,1998-09-24,5.46100,F,1000.0
223,5.500,INTERNATIONAL BUSINESS MACHS CORP,USA,1.0,1999-01-12,5.60002,F,1000.0
133,4.875,INTERNATIONAL BUSINESS MACHS CORP,USA,1.0,2001-09-20,5.01196,F,1000.0
127,4.750,INTERNATIONAL BUSINESS MACHS CORP,USA,1.0,2002-11-20,4.98006,F,1000.0
91,4.120,INTERNATIONAL BUSINESS MACHS CORP,USA,1.0,2004-05-20,4.44197,F,1000.0
90,4.250,INTERNATIONAL BUSINESS MACHS CORP,USA,1.0,2002-09-05,4.39202,F,1000.0
59,4.250,INTERNATIONAL BUSINESS MACHS CORP,USA,1.0,2005-01-27,3.81400,F,1000.0
181,5.375,INTERNATIONAL BUSINESS MACHS CORP,USA,1.0,1999-01-27,5.38500,F,1000.0
455,8.300,INTERNATIONAL BUSINESS MACHS CORP,USA,1.0,1989-11-01,8.46700,F,1000.0
423,7.250,TIME WARNER COS INC,USA,1.0,1997-10-03,7.38600,F,1000.0
435,7.570,TIME WARNER COS INC,USA,1.0,1997-10-02,7.57000,F,1000.0

In [133]:
import pandas as pd

# Ordenamos los datos según la columna "FECHA EMISION" en orden descendente
df_ordenado = df.sort_values("FECHA EMISION", ascending=False)

# Imprimimos los datos ordenados
print(df_ordenado)

        CUPON            NOMBRE EMISOR countrydomicile  INDUSTRIA  \
271      6.15                ALCOA INC             USA        1.0
219      5.80                ALCOA INC             USA        1.0
170      5.25              SOUTHERN CO             USA        3.0
203      5.25           MORGAN STANLEY             USA        2.0
230      8.00  GOLDMAN SACHS GROUP INC             USA        2.0
...       ...                      ...             ...        ...
380315    NaN                      NaN             NaN        NaN
380316    NaN                      NaN             NaN        NaN
380317    NaN                      NaN             NaN        NaN
380318    NaN                      NaN             NaN        NaN
380319    NaN                      NaN             NaN        NaN

       FECHA EMISION    YIELD TIPO CUPON  PRINCIPAL
271       2007-01-23  5.92696          F     1000.0
219       2007-01-23  5.58302          F     1000.0
170       2007-01-11  5.32572          F     1000.0
203       2007-01-04  5.49201          F     1000.0
230       2007-01-03  5.63397          F     1000.0
...              ...      ...        ...        ...
380315           NaT      NaN        NaN        NaN
380316           NaT      NaN        NaN        NaN
380317           NaT      NaN        NaN        NaN
380318           NaT      NaN        NaN        NaN
380319           NaT      NaN        NaN        NaN

[380320 rows x 8 columns]

In [142]:
def formato(valor):
    rojo = 'background-color: red'
    default = ''
    return pd([rojo if i > 8 else default for i in valor])

# Aplicar formato a la columna "YIELD"
df.style.apply({'YIELD': formato}, axis=0)

TypeError: ignored

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_excel('/content/Precios_Acciones.xlsx')
df

In [ ]:
plt.plot(df['Date'], df['IBM'])
plt.xlabel('Fecha')
plt.ylabel('Precio')
plt.title('Precio de las acciones de IBM')
plt.show()

In [ ]:
plt.plot(df['Date'], df['IBM'], label='IBM')
plt.plot(df['Date'], df['Google'], label='Google')
plt.ylabel('Precio de cierre')
plt.legend()
plt.show()

In [ ]:
fig, ax1 = plt.subplots()

# Graficar los precios de las acciones de IBM en el eje Y principal
ax1.plot(df['IBM'], label='IBM', color='b')
ax1.set_xlabel('Fecha')
ax1.set_ylabel('Precio de la acción (IBM)', color='b')
ax1.tick_params(axis='y', colors='b')

# Crear un segundo eje Y para los precios de las acciones de Google
ax2 = ax1.twinx()
ax2.plot(df['Google'], label='Google', color='r')
ax2.set_ylabel('Precio de la acción (Google)', color='r')
ax2.tick_params(axis='y', colors='r')

# Añadir la leyenda y el título
fig.legend()
plt.title('Precios de las acciones de IBM y Google')
plt.show()

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

returns = df.pct_change()

# Crear el gráfico de dispersión
plt.scatter(returns["Google"], returns["Berkshire Hathaway"])
plt.xlabel("Rendimientos diarios de Google")
plt.ylabel("Rendimientos diarios de Berkshire Hathaway")
plt.title("Gráfico de dispersión entre los rendimientos de las acciones de Google y Berkshire Hathaway")
plt.show()

In [ ]:
# Calcular las rentabilidades medias y máximas
mean_returns = df.mean()
max_returns = df.max()

# Crear la figura y los ejes
fig, ax1 = plt.subplots()

# Graficar la rentabilidad media en un gráfico de columnas
ax1.bar(mean_returns.index, mean_returns.values, alpha=0.5, color='b')
ax1.set_xlabel('Acciones')
ax1.set_ylabel('Rentabilidad media', color='b')
ax1.tick_params('y', colors='b')

# Crear un segundo eje Y para la rentabilidad máxima
ax2 = ax1.twinx()
ax2.plot(max_returns.index, max_returns.values, color='r')
ax2.set_ylabel('Rentabilidad máxima', color='r')
ax2.tick_params('y', colors='r')

# Ajustar los límites del eje Y para el gráfico de columnas
ax1.set_ylim([0, 0.03])

# Añadir el título y mostrar la figura
plt.title('Rentabilidad media y máxima de las acciones')
plt.show()